Address.py
Application.py
async.py
geckodriver.log
FileInOut.py
test.py
UI.py
User.py
main.py
webAuto.spec
.sfdx/tools/apex.db
__pycache__/Address.cpython-311.pyc
__pycache__/Application.cpython-311.pyc
__pycache__/UI.cpython-311.pyc
__pycache__/User.cpython-311.pyc
build/webAuto/Analysis-00.toc
build/webAuto/base_library.zip
build/webAuto/EXE-00.toc
build/webAuto/PKG-00.toc
build/webAuto/PYZ-00.pyz
build/webAuto/PYZ-00.toc
build/webAuto/Tree-00.toc
build/webAuto/Tree-01.toc
build/webAuto/Tree-02.toc
build/webAuto/warn-webAuto.txt
build/webAuto/webAuto.exe.manifest
build/webAuto/webAuto.pkg
build/webAuto/xref-webAuto.html
build/webAuto/localpycs/pyimod01_archive.pyc
build/webAuto/localpycs/pyimod02_importers.pyc
build/webAuto/localpycs/pyimod03_ctypes.pyc
build/webAuto/localpycs/pyimod04_pywin32.pyc
build/webAuto/localpycs/struct.pyc
csvFiles/
dist/webAuto.exe
.vscode/launch.json
fib.py
output.xml
package-lock.json
Logs/